# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

### Step 4. See the first 10 entries

In [3]:
data.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [4]:
data.shape[0]

4622

In [5]:
len(data)

4622

### Step 6. What is the number of columns in the dataset?

In [6]:
data.shape[1]

5

### Step 7. Print the name of all the columns.

In [9]:
data.columns.to_list()

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [12]:
data.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [16]:
data.groupby('item_name').quantity.sum().sort_values(ascending=False).head(1).reset_index().item_name.values[0]

'Chicken Bowl'

### Step 10. For the most-ordered item, how many items were ordered?

In [20]:
data.groupby('item_name').quantity.sum().sort_values(ascending=False).head(1).reset_index().quantity

0    761
Name: quantity, dtype: int64

### Step 11. What was the most ordered item in the choice_description column?

In [21]:
data.choice_description[4]

'[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]'

### Step 12. How many items were orderd in total?

In [22]:
data.quantity.sum()

np.int64(4972)

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [24]:
data.item_price.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [25]:
data.item_price = data.item_price.apply(lambda x: float(x[1:]))

#### Step 13.c. Check the item price type

In [26]:
data.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [27]:
data['revenue'] = data.quantity * data.item_price
data.revenue.sum()

np.float64(39237.02)

### Step 15. How many orders were made in the period?

In [29]:
data.order_id.nunique()

1834

### Step 16. What is the average revenue amount per order?

In [30]:
data.groupby('order_id').revenue.sum().mean()

np.float64(21.39423118865867)

In [34]:
gd = data.groupby('order_id').revenue.sum()
gd.mean()

np.float64(21.39423118865867)

### Step 17. How many different items are sold?

In [35]:
data.item_name.nunique()

50